@media screen and (max-width:420px) {
body{
  width: 100%;
  margin: 0;
}
header{
  width: 100%;
  background: white;
  margin-top: 20px;
}
header div.nonActivated{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header div.nonActivated h1{
  color: black;
  font-size: 38px;
  font-family: 'Roboto-blackitalic', Black;
  margin: auto;
  margin-top: 5px;
}
header div.nonActivated img{
  width: 35px;
  margin: auto;
}
div.contactContainer{
  width: 100%;
  display: none;
}
div.contactContainer ul{
  list-style: none;
  padding: 0;
  padding-left: 20px;
}
div.contactContainer ul li{
  display: flex;
  height: 60px;
  width: 200px;
  color: black;
  font-family: 'Roboto-regular', sans-serif;

}
div.contactContainer ul li img{
  margin: 0;
  margin-right: 20px;
  width: 30px;
}
div.contactContainer ul li p{
  margin-top: 20px;
}
div.contactContainer ul li a{
  text-decoration: none;
  color: black;
  margin-top: 20px;
}
div.contentContainer{
  background: black;
  width: 100%;
}
div.content{
  width: 375px;
  margin: auto;
}
div.section{
  width: 100%;
}
div.firstSection{
  margin-top: 20px;
  padding-top: 10px;
}
div.firstSection h1{
  color: white;
  margin: 0;
  font-family: 'Roboto-bold', sans-serif;
  font-size: 50px;
}
div.firstSection h1:last-child{
width: 200px;
}
#bigUnderline{
  border-bottom: 5px solid white;
}
div.contentContainer #dotsDecoration{
  width: 60px;
  margin: auto;
  margin-left: 157.2px;
  margin-top: 50px;
}
}
